<a href="https://colab.research.google.com/github/Neeschal1/Pandas/blob/main/Begins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

# About Series

Dtypes in Series:
If every elements inside the series are integers, then the dtype of the whole series is int. But if any one among them is string, then the dtype of the whole series is object.

In [ ]:
s = pd.Series([100, 200, 300, 400, 500])
a = pd.Series([234, 235, 45, 124, "Neeschal"])
print(f"{s}\n\n{a}")

0    100
1    200
2    300
3    400
4    500
dtype: int64

0         234
1         235
2          45
3         124
4    Neeschal
dtype: object

Checking dtype manually

In [ ]:
print(f"First series: {s.dtype}\nSecond series: {a.dtype}")

First series: int64
Second series: object

Checking the values of the series:

In [ ]:
s.values

array([100, 200, 300, 400, 500])

Accessing series elements:
s[0:4:2] It means from 0th index of series s, go towards it's 4th index by jumping 1 value everytime

In [ ]:
s[0:3:2]

0    100
2    300
dtype: int64

Giving column name to the series:

In [ ]:
s.name = "Calories"

0    100
1    200
2    300
3    400
4    500
Name: Calories, dtype: int64

Giving index name to the series:

In [ ]:
fruits = ["Apple", "Banana", "Cherry", "Dragon Fruit", "Guava"]
s.index = fruits
s

Apple           100
Banana          200
Cherry          300
Dragon Fruit    400
Guava           500
Name: Calories, dtype: int64

Accessing values using index

In [ ]:
s["Dragon Fruit"]

np.int64(400)