<a href="https://colab.research.google.com/github/Neeschal1/Pandas/blob/main/Project_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

# Importing packages

In [5]:
import numpy as np
import pandas as pd

# Reading csv files

In [6]:
df = pd.read_csv("/content/drive/MyDrive/Learning_Pandas/Projects/Project_01/students.csv")
df

      Name  Math  Science  English  History
0    Aarav    78       85       67       72
1  Nischal    92       81       74       88
2     Sita    65       70       60       75
3     Ravi    88       90       95       80
4     Mina    55       60       65       70
5    Rohan    82       77       80       85
6    Priya    90       92       88       91
7    Kabir    72       68       75       60
8    Anita    85       80       82       78
9    Samir    60       65       70       68

### Defining each row in a single variable

1. For Math

In [ ]:
marks_in_math = df["Math"]
marks_in_math

0    78
1    92
2    65
3    88
4    55
5    82
6    90
7    72
8    85
9    60
Name: Math, dtype: int64

2. For Science

In [ ]:
marks_in_science = df["Science"]
marks_in_science

0    85
1    81
2    70
3    90
4    60
5    77
6    92
7    68
8    80
9    65
Name: Science, dtype: int64

3. For History

In [ ]:
marks_in_history = df["History"]
marks_in_history

0    72
1    88
2    75
3    80
4    70
5    85
6    91
7    60
8    78
9    68
Name: History, dtype: int64

4. For English

In [ ]:
marks_in_english = df["English"]
marks_in_english

0    67
1    74
2    60
3    95
4    65
5    80
6    88
7    75
8    82
9    70
Name: English, dtype: int64

# Numpy Logics for finding average marks

1. Finding Average in English

In [ ]:
average_in_english = np.mean(marks_in_english)
average_in_english

np.float64(75.6)

2. Finding Average in Science

In [ ]:
average_in_science = np.mean(marks_in_science)
average_in_science

np.float64(76.8)

3. Finding Average in History

In [ ]:
average_in_history = np.mean(marks_in_history)
average_in_history

np.float64(76.7)

4. Finding Average in Math

In [ ]:
average_in_math = np.mean(marks_in_math)
average_in_math

np.float64(76.7)

# Simpler way

In [23]:
col = df.columns
for i in col[1:]:
  print(f"Average of {i}: {np.mean(df[i])}")

Average of Math: 76.7
Average of Science: 76.8
Average of English: 75.6
Average of History: 76.7

# Other Operations
## Finding maximum numbers among all

In [25]:
col = df.columns
for i in col[1:]:
  print(f"Maximum number among {i} subject: {np.max(df[i])}")

Maximum number among Math subject: 92
Maximum number among Science subject: 92
Maximum number among English subject: 95
Maximum number among History subject: 91